/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 8, 2021, 3:01:34 PM
    Author     : arnab
*/

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 8, 2021, 2:47:20 PM
    Author     : arnab
*/
.editbutton{
    width: auto !important;
}

.delete_button{
    width: auto !important;
}

.status{
    background: #123412 !important;
}
.img_url{
    height:20px;
    width:20px;
    background-size: contain; 
    max-height:20px;
    border-radius: 100px;
}
