/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 9, 2021, 4:15:53 PM
    Author     : arnab
*/
.img_url{
    height:20px;
    width:20px;
    background-size: contain; 
    max-height:20px;
    border-radius: 100px;
}

.img_src_class{
    width: 100px !important;
}
