/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 16, 2021, 10:56:18 AM
    Author     : shaibalsaha
*/
.img_url{
    height:20px;
    width:20px;
    background-size: contain; 
    max-height:20px;
    border-radius: 100px;
}
.img_td{
    width:10% !important;
}
.img_url{
    width:95% !important;
}
