/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 16, 2021, 11:19:55 AM
    Author     : shaibalsaha
*/
form {
    border: 0px solid #ccc; 
    padding: 0px;
}
.img_url{
    width: 200px; height:auto;
}
.img_url{
    width: 200px; height:150px;
}
.img_class{
    max-width: 200px; max-height: 150px; line-height: 20px;
}
.panel-default > .panel-heading {
    background-color: #f1f1f1 !important;
}

.panel-default>.panel-heading+.panel-collapse .panel-body {
    border-top-color: #ddd;
    background: #f9f9f9;
}

.panel-body {
    padding: 20px !important;
}
#collapseOne,#collapseTwo,#collapseFour,#collapseFive,#collapseSix,#collapseSeven,#collapseEight{
    height: 0px;
}
